# ========================
# IGNORAR BACKEND (Java/Maven)
# ========================
backend/target/
backend/.idea/
backend/*.iml
backend/logs/
*.class
*.log
*.jar
.mvn/

# ========================
# IGNORAR FRONTEND (Angular/Node)
# ========================
frontend/node_modules/
frontend/dist/
**/dist/
**/.angular/
**/.angular/cache/
**/.env

# ========================
# IGNORAR SISTEMA
# ========================
.DS_Store
Thumbs.db
ehthumbs.db
desktop.ini

# ========================
# OTRAS CONFIGS
# ========================
*.env
